@import 'https://fonts.googleapis.com/css2?family=Goldman&display=swap';

.DescriptionCont {
	font-family: 'Goldman', cursive;
	color: black;
	background-color: white;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 60px;
}

h1 {
	padding-left: 25px;
	text-align: justify;
	color: #41339a;
}
h5 {
	border-top: 3px dashed black;
	text-align: left;
	font-size: 2em;
}
.DescText {
	font-size: 48px;
}
.DescMini {
	display: flex;
	justify-content: flex-start;
	align-items: center;

	text-align: left;
	font-size: 16px;

	margin-left: 10px;
}
.DescMini > div {
	margin-left: 20px;
}
.DescTextMini {
	font-size: 1.50rem;
	opacity: 0.90;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.DescTextMini > span {
	letter-spacing: 2px;
	font-weight: 600;
	color: rgb(24, 114, 187);
}
#PersonalPic {
	max-width: 300px;
	max-height: 100px;
	border-radius: 30px;
}

@media screen and (max-width: 765px) {
	.DescMini {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column-reverse;
	}
	.DescriptionCont {
		height: auto;
	}
	h1 {
		padding-left: 0px;
		text-align: center;
		color: #41339a;
	}
}
