ul {
	display: flex;
	justify-content: flex-end;

	list-style-type: none;
	font-size: 12px;
}
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}
.NavContainer {
	font-family: 'Manrope', sans-serif;
	overflow: hidden;

	display: flex;
	justify-content: flex-end;
	background: linear-gradient(45deg, hsl(250, 99%, 60%), #0c0c0c);
	border-bottom: 3px solid grey;
	color: white;
	z-index: 1;
}
li {
	color: white;

	margin: 0px 25px;
	font-size: 25px;
	padding: -5px;
	border-radius: 10px;
}

a {
	text-decoration: none;
}

@media screen and (max-width: 765px) {
	.NavContainer {
		display: flex;
		justify-content: center;
	}
}
