.Project {
	background-color: hsl(214, 61%, 52%);
	border: 2px solid rgb(202, 189, 189);
	margin: 15px;
	width: auto;
	border-radius: 25px;
	padding: 15px;
	display: flex;
	justify-content: stretch;
	align-items: center;
	flex-direction: column;
}
i {
	color: black;
}
img {
	max-width: 400px;
	max-height: 285px;

	height: auto;
}
.Title {
	font-size: 44px;
	padding-bottom: 5px;
	border-bottom: 1px solid rgb(177, 163, 163);
}
.Description {
	margin-bottom: 10px;
	font-size: 28px;
}
.PreviewSection {
	display: flex;
	justify-content: center;
	align-items: stretch;
}
.GitHubMess:hover {
	border-top: 0.1px solid white;
	border-bottom: 0.1px solid white;
	border-radius: 1px;
	cursor: pointer;
}
.GitHubMess {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px;
}

.LeaveSite {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px;
}
.LeaveSite:hover {
	border-top: 0.1px solid white;
	border-bottom: 0.1px solid white;
	border-radius: 1px;
	cursor: pointer;
}
a {
	color: inherit;
	text-decoration: none;
}

i {
	color: black;
	font-size: 48px;
	margin: 20px;
}

i:hover {
	cursor: pointer;
	color: yellow;
	transition: 0.2s ease-in;
}

@media screen and (max-width: 690px) {
	img {
		max-width: 200px;
		max-height: 300px;

		height: auto;
	}
}
