.Projects {
	margin-top: 25px;
	display: grid;
	grid-template-columns: 50% 50%;
}
#MyProj {
	margin-top: 50px;
}
.AndMoreContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	font-size: 3rem;
}

@media screen and (max-width: 1400px) {
	.Projects {
		margin-top: 25px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
