.Skill {
	font-size: 48px;
	color: #032235;
	border: 0.1px solid rgba(240, 161, 161, 0.959);
	background-color: hsl(34, 5%, 74%);
	padding: 25px;
	border-radius: 10px;
	text-align: center;
}
.Skill i {
	transition: all 0.1s ease-in;
	z-index: -1;
}
.Skill i:hover {
	cursor: auto;
	transform: scale(1.5, 1.5);
}
